#logo-blanco{
     
	float: left;
	width: 80px;
	height: 80px;
	bottom: 30px;
}
.caja{
	background-color: white;
	padding: 50px;

}
.opcion{
  color: green;
  float: right;
  padding: 30px;
  margin:10px;
  bottom: 50px;

  margin-bottom: none;
}
video { 
 
  width: 1341px; importante
  height: auto;
  
  height: auto;
 
  position: relative;    
  top: 50;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
  background-size: cover;
  z-index: -100; 
} 
#gradiente {
    position: relative;
   top: -381px;
    height: 500px;
    width: 100%;
    background: purple; 
    background: -webkit-linear-gradient( #76278f,#2B1E66); 
    background: -o-linear-gradient( #76278f,#2B1E66);
    background: -moz-linear-gradient( #76278f,#2B1E66); 
    background: linear-gradient( #76278f,#2B1E66); 
  }
.telefono{
  float: right;
    width: 400px;
    height: 400px;
    padding-right: 100px;
    bottom: 900px;
}
/* #video1{
  float: right;
  
}
 */
 .formulario{
   color: white;
 }
 .contenido-telefono, h4{
  margin-top: 30px;
  padding-top: 30px;
  color: white;
  padding-left: 30px;
  right: 30px;
 }
 span{
    text-align: center;
    bottom: 50%;
 }
 #pie{
  background: #4C494F;
  height: 450px;
  text-align: center;

 }
 #figura1{
  width: 136px;
  height:40px;
  display: block;
  right:0px;
  
  text-align: center;
  margin-bottom: 20px;
 }
 .lista{
  display: inline-block;
  padding: 20px;

 }
 
 li {
list-style-type: none;
margin-bottom: 20px;
color: white;
}
#icono{
  text-align: center;
  
  color: white;
  /* white-space: 20px; */
  border-radius:50px; 
  border-style:solid;
  
  font-size: 20px;
  padding: 10px;
  line-height: 20px;
}
hr{
  width: 50%;
}
p{
  color: white;
}






